@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

html, body {
    margin: 0; padding: 0;
}

body {
    background: url('../public/background.png') left top repeat #F7F4E3;
}

.titulo {
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 58px;
    margin-top: 150px;
    color: #8A7864;
    font-weight: normal;
    margin-bottom: 0;
}

.loginBox {
    width: calc(100% - 60px);
    margin: 0 auto;
}

.animaisEntrada {
    display: block;
    margin: 30px auto 20px auto;
    width: 100%;
    max-width: 770px;
}

.button {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #9CD277;

    font-family: 'Amatic SC', cursive;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    color: #8A7864;
    transition: all 200ms ease-out;
}

.button:hover {
    transform: scale(1.05);
    background-color: #559927;
    color: #fff;
}

.caixaSenha {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 40px;

    padding: 5px;

    border-radius: 5px;
    border: none;
    background-color: #fff;
    margin-bottom: 20px;

    font-family: 'Amatic SC', cursive;
    text-align: left;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #8A7864;
}

/* PÁGINA LISTA DE PRESENTES */

.container {
    width: calc(100% - 60px); margin: 0 auto; max-width: 1140px;
}

.headerLista {
    width: calc(100% - 60px); max-width: 1140px;
    padding: 0;
    margin: 0 auto;
    img {
        width: 100%; height: auto;
        max-width: 1140px;
    }
}

.retanguloDoItem {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100px calc(100% - 100px);
    column-gap: 20px;
    height: 120px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 12px;

    & figure {
        margin: 0; padding: 0;
        img {
            width: 100%; height: auto;
        }
    }

}

.botaoDarEsse {
    width: 135px;
    height: 28px;
    display: block;
    border-radius: 5px;
    border: none;
    background-color: #325c16;
    margin: 0px auto;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #8A7864;
}

@media screen and (min-width: 992px) {
    .titulo {
        font-size: 140px;
        margin-top: 0;
    }

    .loginBox {
        width: 240px;
    }
}