@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;700&display=swap");

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: url("../public/background.png") left top repeat #f7f4e3;
}

// COMMON
.loader {
	margin-right: 5px;
	border: 4px solid rgba(255, 255, 255, 0.25);
	border-top: 4px solid white;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

//  LOGIN

.titulo {
	font-family: "Sacramento", cursive;
	text-align: center;
	font-size: 58px;
	margin-top: 150px;
	color: #8a7864;
	font-weight: normal;
	margin-bottom: 0;
}

.loginBox {
	width: calc(100% - 60px);
	margin: 0 auto;
}

.passError {
	display: inline-block;
	font-family: "Open Sans",
		sans-serif;
	font-weight: 700;
	font-size: 14px;
	margin-top: 15px;
}

.animaisEntrada {
	display: block;
	margin: 30px auto 20px auto;
	width: 100%;
	max-width: 770px;
}

.areaBotao {
	display: flex;
	align-items: center;
	border: 0px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: none;
	background-color: #9cd277;

	font-family: "Amatic SC", cursive;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	font-size: 20px;
	color: #8a7864;
	transition: all 200ms ease-out;

	&:hover {
		transform: scale(1.05);
		background-color: #559927;
		color: #fff;
	}

	&:disabled {
		opacity: .5;
	}
}

.caixaSenha {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 40px;

	padding: 5px;

	border-radius: 5px;
	border: none;
	background-color: #fff;
	margin-bottom: 20px;

	font-family: "Open Sans", sans-serif;
	text-align: left;
	line-height: 40px;
	text-decoration: none;
	font-size: 14px;
	color: #8a7864;

	&.popup {
		border: solid 1px #8a7864;
	}
}

/* PÁGINA LISTA DE PRESENTES */

.container {
	width: calc(100% - 60px);
	margin: 0 auto;
	max-width: 1140px;
}

.headerLista {
	width: 100%;
	max-width: 1140px;
	padding: 0;
	margin: 0 auto;

	img {
		width: 100%;
		height: auto;
		max-width: 1140px;
	}
}

.retanguloDoItem {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 80px calc(100% - 80px);
	column-gap: 20px;
	width: 100%;
	padding: 10px;
	background-color: #fff;
	border-radius: 12px;
	border: solid 1px #fee4a6;

	margin-bottom: 20px;

	h2 {
		font-family: "Amatic SC", cursive;
		font-size: 30px;
		margin: 10px 0;
		color: red;
	}

	&.ganho {
		opacity: .5;

		.nomeDoItem,
		.valorDoItem {
			text-decoration: line-through;
		}
	}

	&.expanded {
		grid-template-columns: 100%;
		grid-template-rows: 1fr;
	}
}

.caixaDaFoto {
	display: flex;
	align-items: center;
	justify-content: center;

	& figure {
		margin: 0;
		padding: 0;

		img {
			width: 100%;
			height: auto;
		}
	}
}

.caixaDoConteudo {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: calc(100% - 20px);
	column-gap: 20px;
}

.headerDoItem {
	display: grid;
	width: 100%;
	grid-template-columns: 160px calc(100% - 180px);
	column-gap: 10px;
}

.botaoDarEsse {
	width: 135px;
	height: 40px;
	display: inline-block;
	border-radius: 5px;
	border: none;
	background-color: #FFCC80;
	margin: 10px 0 0 auto;
	font-family: "Amatic SC", cursive;
	text-align: center;
	line-height: 28px;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: #4e3921;
}

.botaoDarOutro {
	width: 135px;
	height: 40px;
	display: inline-block;
	border-radius: 5px;
	border: solid 1px #e0e0e0;
	background-color: #fff;
	margin: 10px auto 0 0;
	font-family: "Amatic SC", cursive;
	text-align: center;
	line-height: 28px;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: #bdbdbd;
}

.botaoDeixaEsse {
	width: 135px;
	height: 40px;
	display: inline-block;
	border-radius: 5px;
	border: none;
	background-color: #9cd277;
	margin: 10px 0 0 auto;
	font-family: "Amatic SC", cursive;
	text-align: center;
	line-height: 28px;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: #4e3921;
}

.tituloDoItem {
	a {
		max-width: 100%;
		font-family: "Open Sans", sans-serif;
		word-wrap: break-word;
		display: inline-block;
		font-size: 12px;
		margin-bottom: 10px;
		;
		color: #EF6C00;
	}
}

.nomeDoItem {
	font-family: "Amatic SC", cursive;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	margin: 0px;
	color: #4e3921;
}

.valorDoItem {
	font-family: "Amatic SC", cursive;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	margin: 0px;
	color: #4e3921;
	margin-bottom: 10px;
}

.opcoesEntrega {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 20px 0;

	.opcao {
		width: 100%;
		padding: 5px;
		border: solid 1px #FFCC80;
		background-color: #fff;
		outline: none;

		font-family: "Open Sans", sans-serif;
		font-size: 12px;
		color: #4e3921;

		transition: all 200ms ease-out;

		&.selecionado {
			background-color: #FFCC80;
			color: #4e3921;
		}

		&:first-child {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		&:last-child {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}

.descricaoDoItem {
	font-family: "Open Sans", sans-serif;

	p {
		font-size: 14px;
		color: #646464;
		margin-top: 0;
		margin-bottom: 5px;
	}

	span {
		font-size: 14px;
		color: #646464;
	}
}

.botoesDescricao {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 10px;
}

// POPUP
.overflow {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.5);
}

.caixaDoForm {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: calc(100% - 60px);
	background-color: white;

	border-radius: 12px;
	border: solid 1px #fee4a6;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

	h3 {
		font-family: "Amatic SC", cursive;
		font-size: 32px;
		margin: 0;
		margin-bottom: 10px;
		color: #4e3921;
	}

	.buttons {
		display: flex;
		width: 100%;
	}
}

@media screen and (min-width: 992px) {
	.titulo {
		font-size: 140px;
		margin-top: 0;
	}

	.loginBox {
		width: 240px;
	}

	.nomeDoItem {
		font-size: 42px;
	}

	.valorDoItem {
		font-size: 30px;
	}

	.retanguloDoItem {
		grid-template-columns: 80px calc(100% - 80px);
	}

	.caixaDoConteudo {
		grid-template-columns: calc(100% - 175px) 135px;
	}
}